.header{
    height: 754px;
}
.bg-image{
    background-image: url(../images/desktop.jpg);
    width: 100%;
    height: 754px;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-wraper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 90%;
}
.navigation{
    margin-left:201px ;
    margin-top: 40px;
}
.login{
    width: 78px;
    height: 40px;
    background-color: #F84646;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 660px;
    margin-top: 35px;
}
.navigation ul{
    width: 366px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.header-text{
    position: absolute;
    top: 200px;
    left: 122px;
    width: 665px;
    height: 283px;

}
.header-text h2{
    font-size: 64px;
    margin-bottom: 102px;
}
.header-text{
    font-size: 20px;
    line-height: 36px;
    letter-spacing: 0.2px;
}